<div class="container" ng-controller="ClientCrudController" ng-init="init()">  
  <h1>{{ client.id != 0 ? 'Edit' : 'Add' }} Client</h1>
  <p>Here you can add, edit or delete a specific client</p>
  <div class="row">
    <div class="col-md-3">
      <form name="clientForm">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="client.name" placeholder="Enter name" required/>
        </div>
        <div class="form-group">
          <label>Surname</label>
          <input type="text" class="form-control" ng-model="client.surname" placeholder="Enter surname" required/>
        </div>
        <div class="form-group">
          <label>ID Number</label>
          <input type="text" class="form-control" ng-class="clientForm.idNumber.$invalid ? 'has-error' : ''" ng-model="client.idNumber" placeholder="Enter id number" required ng-pattern="/^(((\d{2}((0[13578]|1[02])(0[1-9]|[12]\d|3[01])|(0[13456789]|1[012])(0[1-9]|[12]\d|30)|02(0[1-9]|1\d|2[0-8])))|([02468][048]|[13579][26])0229))(( |-)(\d{4})( |-)(\d{3})|(\d{7}))/"/>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Valid SA id number. ex. 8402025016080
          </small>
          <span class="label label-danger" ng-if="errors.Name">Please provide an valid SA id number.</span>
        </div>
        <div class="form-group">
          <label>Gender</label>
          <select class="form-control" ng-model="client.gender" required>
            <option value="" selected> - Select Gender - </option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Address Information</div>
            <div class="panel-body">
              <button class="btn btn-primary" ng-click="openAddressModal()">Add</button>
              <br />
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><small>Type</small></th>
                    <th><small>Address Line 1</small></th>
                    <th><small>Address Line 2</small></th>
                    <th><small>Address Line 3</small></th>
                    <th><small>Postal Code</small></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="address in client.addressInformation">
                    <td>{{ address.type }}</td>
                    <td>{{ address.addressLine1 }}</td>
                    <td>{{ address.addressLine2 }}</td>
                    <td>{{ address.addressLine3 }}</td>
                    <td>{{ address.postalCode }}</td>
                    <td>
                      <div class="btn-group action-menu" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                          ng-disabled="disabled">
                          Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                          <li role="menuitem"><a class="context-menu" ng-click="openAddressModal(address)">Edit</a></li>
                          <li role="menuitem"><a class="context-menu"
                              ng-click="openDeleteModal('address', address)">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="text-center" ng-if="client.addressInformation.length == 0">No records to display.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Contact Information</div>
            <div class="panel-body">
              <button class="btn btn-primary" ng-click="openContactModal()">Add</button>
              <br />
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><small>Type</small></th>
                    <th><small>Contact</small></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="contact in client.contactInformation">
                    <td>{{ contact.type }}</td>
                    <td>{{ contact.contactAddress }}</td>
                    <td>
                      <div class="btn-group action-menu" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                          ng-disabled="disabled">
                          Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                          <li role="menuitem"><a class="context-menu" ng-click="openContactModal(contact)">Edit</a></li>
                          <li role="menuitem"><a class="context-menu"
                              ng-click="openDeleteModal('contact', contact)">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="text-center" ng-if="client.contactInformation.length == 0">No records to display.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" align="right">
      <button class="btn btn-primary" ng-click="saveClient()" ng-disabled="clientForm.$invalid || client.addressInformation.length == 0 || client.contactInformation.length == 0">Save</button>
    </div>
  </div>
</div>

<span ng-controller="ClientCrudController">
  <script type="text/ng-template" id="addressModalContent.html">
    <div ng-include="'components/client/modal/address.modal.html'"></div>
  </script>
  <script type="text/ng-template" id="contactModalContent.html">
    <div ng-include="'components/client/modal/contact.modal.html'"></div>
  </script>
  <script type="text/ng-template" id="deleteModalContent.html">
    <div ng-include="'components/client/modal/delete.modal.html'"></div>
  </script>
</span>